@font-face {
    font-family: "FT88-Serif";
    src: url("FT88-Serif.woff");
}

.encabezado {
    height: 30px;
}

.portfolio {
    width: 65%;
}

.nav {
    background-color: white;
    width: 100%;
    outline: 3px;
    outline-style: groove;
    outline-color: black;
    margin-bottom: 20px;
    font-family: Syne;
    font-weight: 500;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #985dd6;
}

.fotocabecera {
    width: 100%;
}

.accordion-item {
    background: none;
}

.accordion-header {
    margin: 6px;
    margin-bottom: 20px;
    width: 99%;
    outline: 3px;
    outline-style: groove;
    outline-color: black;
    font-family: FT88-Serif;
}

.accordion-button {
    font-size: 40pt;
    color: black;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: none;
}

.accordion-button:hover {
    color: #1ca5a8;
}

.accordion-body {
    display: flex;
    flex-direction: row;
    font-family: Syne;
}


h1 {
    font-weight: 700;
    font-size: 30pt;
    color: black;
    padding-top: 40px;
    padding-left: 25px;
}

.texto {
    padding-top: 5px;
    font-size: 15pt;
    font-weight: 400;

}

.carousel {
    width: 80%;
}

.carrusel2 {
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    width: 70%;
}

.bloque {
    width: 30%;
    height: auto;
}

.imagen {
    height: 18vw;
}



.enlaces {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

a {
    font-family: Syne;
    font-weight: 700;
    font-size: 20pt;
    color: black;
}

a:hover {
    color: white;
    text-decoration: underline;
}





body::-webkit-scrollbar {
    display: none;

}

body {
    cursor: url(img\ main/cursor.svg), auto;

    background: linear-gradient(270deg, #3ae5b9, #3ad8e5, #b882f0, #f082b8, #f08282, #e6f082);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}